* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  height: 100vh;
  max-width: 1440px;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  color: hsl(240, 38%, 20%);
}

button {
  border: none;
  background: none;
  vertical-align: middle;
  transition: 0.5s;
}

/*     Detailed Styles - Text      */

.slide-container {
  height: 80vh;
  box-shadow: 15px 6px 20px hsl(240, 18%, 77%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url("https://github.com/zulays/codingChallenges/blob/main/PNY-Coding-Challenge/images/pattern-bg.svg?raw=true"), url("https://github.com/zulays/codingChallenges/blob/main/PNY-Coding-Challenge/images/pattern-curve.svg?raw=true");
  background-repeat: no-repeat;
  background-position: top 45% left 98%, bottom 0 left 0, top 32% left 20%;
  margin: 40px;
  padding:40px;
}

.slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slide.toggle{
  opacity: 1;
}

.text {
  text-align: left;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  z-index: 3;
  font-weight: 300;
}
.review-text {
  z-index: 3;
  margin-bottom: 40px;
}

.user-info {
  overflow-wrap: break-word;
  margin: 0;
}
.name {
  font-weight: 700;
  margin: 10px;
}

.title {
  color: hsl(240, 18%, 77%);
  margin: 10px;
  font-weight: 300;
}

.user-2.slide {
 display: none;
}

/*     Detailed Styles - Images   */

.user-img {
  z-index: 2;
  box-shadow: 5px 5px 20px hsl(240, 18%, 77%);
}

.quotes {
  position: absolute;
  z-index: 2;
  margin-left: 60px;
  top: 200px;
}


/*     Detailed Styles - Slider Button    */

.slider {
  height: 65px;
  width: 150px;
  background-color: #ffffff;
  left: 860px;
  top: 660px;
  position: absolute;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  z-index: 3;
  box-shadow: 15px 6px 20px hsl(240, 18%, 77%);
  border-radius: 28px;

}

.prev, .next {
  margin: 10px;
}

